{% extends "./plantilla.html" %} {% block contenido %} {% load static %}
<h1 class="text-center">Listado Clientes</h1>

<div class="row m-0">
  <div class="col-md-4">
    <div class="container w-100">
      <form
        class="border p-4"
        action="/guardarCliente/"
        method="post"
        enctype="multipart/form-data"
        id="frm_nuevo_cliente"
      >
        <h4 class="text-center">Registrar un Cliente</h4>
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <label for="" class="form-label"> Tipo de cliente</label>
            <select
              name="id_tipo"
              required
              class="form-control m-1"
              id="id_tipo"
            >
              <option value="" class="">-- Seleccione una opcion --</option>
              {% for tipo in tipos %}
              <option value="{{tipo.id}}">{{tipo.nombre}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">Cedula</label>
            <input
              type="number"
              required
              class="form-control m-1"
              placeholder="Ingrese la cedula"
              value=""
              name="cedula"
              id="cedula"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="" class="form-label">Nombres</label>
            <input
              type="text"
              required
              class="form-control m-1"
              placeholder="Ingrese los nombres"
              value=""
              name="nombre"
              id="nombre"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">Apellido</label>
            <input
              type="text"
              required
              class="form-control m-1"
              placeholder="Ingrese los apellidos"
              value=""
              name="apellido"
              id="apellido"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="" class="form-label">Fecha de nacimiento</label>
            <input
              type="date"
              required
              class="form-control m-1"
              placeholder="Ingrese la fecha de nacimiento"
              value=""
              name="fechas_nacimiento"
              id="fechas_nacimiento"
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">Correo Electronico</label>
            <input
              type="email"
              required
              class="form-control m-1"
              placeholder="Ingrese su Correo Electronico"
              value=""
              name="correo"
              id="correo"
            />
          </div>
        </div>

        <label for="" class="form-label">Direccion</label>
        <textarea
          class="form-control m-1"
          required
          placeholder="Ingresek su direccion"
          rows="3"
          name="direccion"
          id="direccion"
        ></textarea>
        <div class="row">
          <div class="col-md-12">
            <label for="" class="form-label">Fotografia</label>
            <input
              type="file"
              accept="image/*"
              class="form-control m-1"
              value=""
              name="fotografia"
              id="fotografia"
            />
          </div>
        </div>
        <center>
          <button type="submit" name="button" class="btn btn-primary">
            Guardar</button
          >&nbsp;
          <button type="reset" name="button" class="btn btn-danger">
            Cancelar
          </button>
        </center>
      </form>
    </div>
  </div>
  <div class="col-md-8">
    <div class="container table-responsive">
      <center>
        <img src="{% static 'img/utc.png' %}" alt="" />
      </center>
      <table class="table table-striped bordered" id="tbl_clientes">
        <thead>
          <tr class="table-success">
            <th class="text-center" scope="col">Id</th>
            <th class="text-center" scope="col">Cedula</th>
            <th class="text-center" scope="col">Nombres</th>
            <th class="text-center" scope="col">Apellidos</th>
            <th class="text-center" scope="col">Fecha de Nacimiento</th>
            <th class="text-center" scope="col">Correo Electronico</th>
            <th class="text-center" scope="col">Tipo</th>
            <th class="text-center" scope="col">Direccion</th>
            <th class="text-center" scope="col">Fotografia</th>
            <th class="text-center" scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
          <tr>
            <td class="text-center">{{cliente.id }}</td>
            <td class="text-center">{{cliente.cedula }}</td>
            <td class="text-center">{{cliente.nombre}}</td>
            <td class="text-center">{{cliente.apellido}}</td>
            <td class="text-center">{{cliente.fechas_nacimiento}}</td>
            <td class="text-center">{{cliente.correo}}</td>
            <td class="text-center">{{cliente.tipo.nombre}}</td>
            <td class="text-center">{{cliente.direccion}}</td>
            <td class="text-center">
              {% if cliente.fotografia %}
              <a href="{{cliente.fotografia.url}}" target="_blank">
                <img
                  src="{{cliente.fotografia.url}}"
                  alt=""
                  width="50px"
                  height="50px"
                />
              </a>
              {% else %}
              <b>N/A</b>
              {% endif %}
            </td>

            <td class="text-center">
              <a
                href="/editarCliente/{{cliente.id}}"
                class="btn btn-outline-warning m-1"
                >Editar</a
              >
              <a
                href="javascript:void(0);"
                type="button"
                class="btn btn-outline-danger m-1"
                onclick="eliminarCliente('/eliminarCliente/{{cliente.id}}');"
                >Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  function eliminarCliente(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el cliente seleccionado?',
      position: 'center',
      buttons: [
        [
          '<button><b>SI</b></button>',
          function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button')
            window.location.href = url
          },
          true,
        ],
        [
          '<button>NO</button>',
          function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button')
          },
        ],
      ],
    })
  }
</script>
<script>
  $('#frm_nuevo_cliente').validate({
    rules: {
      id_tipo: {
        required: true,
      },
      cedula: {
        required: true,
        number: true,
        minlength: 10,
        maxlength: 10,
      },
      nombre: {
        required: true,
        number: false,
        minlength: 3,
        maxlength: 50,
      },
      apellido: {
        required: true,
        number: false,
        minlength: 3,
        maxlength: 50,
      },
      fechas_nacimiento: {
        required: true,
        date: true,
      },
      correo: {
        required: true,
        email: true,
      },
      direccion: {
        required: true,
        minlength: 10,
        maxlength: 100,
      },
      fotografia: {
        required: true,
        extension: 'jpg|png|jpeg',
      },
    },
    messages: {
      id_tipo: {
        required: 'Seleccione un tipo de cliente',
      },
      cedula: {
        required: 'El numero de cedula es obligatorio',
        number: 'Solo se permiten numeros en este campo',
        minlength: 'La cedula debe tener 10 digitos como minimo',
        maxlength: 'La cedula debe tener 10 digitos como maximo',
      },
      nombre: {
        required: 'Los nombres son obligatorios',
        number: 'Solo se permiten letras en este campo',
        minlength: 'El nombre debe tener como minimo 3 caracteres',
        maxlength: 'El nombre debe tener como maximo 50 caracteres',
      },
      apellido: {
        required: 'Los apellidos son obligatorios',
        number: 'Este campo solo permite letras',
        minlength: 'El apellido debe tener como minimo 3 caracteres',
        maxlength: 'El apellido debe tener como maximo 50 caracteres',
      },
      fechas_nacimiento: {
        required: 'La fecha de nacimiento es obligatoria',
        date: 'Ingrese una fecha valida',
      },
      correo: {
        required: 'El correo es obligatorio',
        email: 'Ingrese un correo valido',
      },
      direccion: {
        required: 'La direccion es obligatoria',
        minlength: 'Ingrese minimo 3 caracteres',
        maxlength: 'Ingrese maximo 100 caracteres',
      },
      fotografia: {
        required: 'Seleccione una fotografia',
        extension: 'Ingrese una imagen valida',
      },
    },
  })
</script>
<script>
  let table = $('#tbl_clientes').DataTable({
    searching: true,
    fixedHeader: true,
    paging: true,
    info: true,
    language: {
      url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json',
    },
    dom: 'Bfrtip',
    buttons: [
      { extend: 'pdfHtml5', messageTop: 'PDF DE ALEX' },
      'print',
      'excel',
      'csv',
    ],
  })
</script>
<script></script>

{% endblock %}
