{% extends "./plantilla.html" %} {% block contenido %}
<h1 class="text-center">Lista de Gobiernos</h1>
<div class="row m-0 p-0">
  <div class="col-md-5">
    <div class="container w-100">
      <form action="/guardarGobierno/" method="post" class="p-4 border">
        {% csrf_token %}
        <h4 class="text-center">Registrar Gobierno</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="m-1">
              <label for="" class="form-label m-1">Tipo de Gobierno</label>
              <input
                type="text"
                required
                class="form-control"
                placeholder="Ingrese el tipo"
                value=""
                name="tipo_gobierno"
                id="tipo_gobierno"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="m-1">
              <label for="" class="form-label m-1">Presidente</label>
              <input
                type="text"
                required
                class="form-control"
                placeholder="Ingrese el presidente"
                value=""
                name="presidente"
                id="presidente"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="m-1">
              <label for="" class="form-label m-1">Forma Juridica</label>
              <input
                type="text"
                required
                class="form-control"
                placeholder="Ingrese la forma juridica"
                value=""
                name="forma_juridica"
                id="forma_juridica"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="m-1">
              <label for="" class="form-label m-1">Sistema Politico</label>
              <input
                type="text"
                required
                class="form-control"
                placeholder="Ingrese el sistema politico"
                value=""
                name="sistema_politico"
                id="sistema_politico"
              />
            </div>
          </div>
        </div>

        <div class="m-1">
          <label for="" class="form-label m-1">Deduda Externa</label>
          <input
            type="text"
            required
            class="form-control"
            placeholder="Ingrese la deuda externa"
            value=""
            name="deuda_externa"
            id="deuda_externa"
          />
        </div>
        <center class="m-3">
          <button type="submit" name="button" class="btn btn-outline-primary">
            Guardar
          </button>
          &nbsp;&nbsp;
          <button type="reset" name="button" class="btn btn-outline-danger">
            Cancelar
          </button>
        </center>
      </form>
    </div>
  </div>
  <div class="col-md-7">
    <h4 class="text-center">Gobiernos</h4>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr class="table-success">
          <th class="text-center" scope="col">Id</th>
          <th class="text-center" scope="col">Tipo de Gobierno</th>
          <th class="text-center" scope="col">Presidente</th>
          <th class="text-center" scope="col">Forma Juridica</th>
          <th class="text-center" scope="col">Sistema Politico</th>
          <th class="text-center" scope="col">Deduda Externa</th>
          <th class="text-center" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for gobierno in gobiernos %}
        <tr>
          <td class="text-center">{{gobierno.id }}</td>
          <td class="text-center">{{gobierno.tipo_gobierno }}</td>
          <td class="text-center">{{gobierno.presidente }}</td>
          <td class="text-center">{{gobierno.forma_juridica }}</td>
          <td class="text-center">{{gobierno.sistema_politico }}</td>
          <td class="text-center">{{gobierno.deuda_externa }}</td>
          <td class="text-center">
            <a href="" class="btn btn-outline-warning">Editar</a>
            <a
              href="/eliminarGobierno/{{gobierno.id}}"
              class="btn btn-outline-danger"
              >Eliminar</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock contenido %}
